@import "config";
// Styles fyrir header

.intro {
  position: relative;
  width: 100%;
  padding-top: 20vh;
  padding-bottom: 20vh;
  margin-bottom: $gutter * 2;
  text-align: center;
  background-color: $color-darkgray;
  background-size: cover;

  &--index {
    background-image: url("../img/header.jpg");
  }

  &__protection {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    background-color: rgba(255, 255, 255, 0.4);
  }

  &__title {
    position: relative;
    z-index: 1;

    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.3rem;
  }

  &__course {
    position: relative;
    z-index: 1;

    text-transform: uppercase;
  }
}
