@import "config";

.intro {
  position: relative;
  width: 100%;
  padding-top: 20vh;
  padding-bottom: 20vh;
  margin-bottom: $gutter * 2;
  text-align: center;
  background: $color-darkgray no-repeat cover;
  
  &--index {
    background-image: url("../img/header.jpg");
  }

  &__protection {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    background-color: rgba(255, 255, 255, 0.4);
  }

  &__title {
    position: relative;
    z-index: 1;

    font-size: 3rem;
    font-style: $font-title;
    font-weight: bold;
  }

  &__course {
    position: relative;
    z-index: 1;

    font-style: $font-text;
    text-transform: uppercase;
  }
}

.selection {
  display: flex;
  list-style: none;
  justify-content: center;

  &__button {
    padding: 10px 20px;
    margin-right: 20px;
    margin-left: 20px;

    font-size: 1.5rem;
    font-style: $font-title;
    font-weight: bold;

    cursor: pointer;

    background-color: $color-lightgray;

    border: 0;
    border-radius: 15px;

    transition: background-color $transition;

    &:hover {
      background-color: $color-midgray;
    }

    &--active {
      background-color: $color-lightgreen;

      &:hover {
        background-color: $color-darkgreen;
      }
    }
  }
}
