@import "config";

.lectures {
  margin: 0 auto;

  @media (max-width: $max-width - 1) {
    padding-right: $gutter;
    padding-left: $gutter;
  }

  &__row {
    @include row;
    flex-wrap: wrap;

    @media (min-width: 1000px) {
      margin-top: $gutter * 2;
      margin-bottom: $gutter * 2;
    }
  }

  &__col {
    @include columns(12);
    margin-bottom: $gutter;

    @media (min-width: 1000px) {
      @include columns(4);

      margin-bottom: 0;
    }
  }

  &__contents {
    position: relative;
    display: flex;
    padding: 10px;
    flex-direction: column-reverse;
    flex-grow: 1;
  }

  &__button {
    display: flex;
    height: 100%;
    color: $color-black;
    text-decoration: none;
    flex-direction: column;
    background-color: $color-lightgray;

    transition: $transition;

    &:hover {
      background-color: $color-darkgray;
    }
  }

  &__title {
    font-family: $font-title;
    font-size: 2rem;
    font-weight: 600;

    letter-spacing: 0.05rem;
  }

  &__category {
    font-family: $font-title;
    font-size: 1rem;
    text-transform: uppercase;
  }

  &__thumbnail-img {
    width: 100%;
  }

  &__completed {
    position: absolute;
    right: 0;
    bottom: 0;

    padding: 10px;

    font-size: 3rem;
    font-weight: 600;
    color: $color-lightgreen;
  }
}
