@import "config";

.lecture {
  // TODO styles og layout fyrir fyrirlestur

  &__video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.outro {
  &__button {
    &--completed {
      color: $color-lightgreen;
    }
  }
}
