@import "config";

.lecture-container {
  margin: 0 auto;

  @media (max-width: $max-width - 1) {
    padding-right: $gutter;
    padding-left: $gutter;
  }
}

.lecture {
  @include row;
  flex-wrap: wrap;
  justify-content: center;

  font-family: $font-text;

  &__column {
    margin-bottom: $gutter;

    @include columns(12);
    @media (min-width: 800px) {
      @include columns(8);
    }
  }

  &__video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__list-item {
    margin-bottom: $gutter;
  }

  &__text {
    margin-bottom: $gutter;
    line-height: 1.5rem;
  }

  &__heading {
    margin-top: $gutter;
    font-family: $font-title;
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }

  &__image {
    width: 100%;

    &-caption {
      font-style: italic;
    }
  }

  &__quote {
    &-container {
      padding: 20px;
      margin-right: -$gutter;
      margin-left: -$gutter;
      background-color: $color-lightgray;
    }

    &-author {
      margin-top: $gutter;
      font-style: italic;
    }
  }
}

.outro {
  display: flex;
  padding-bottom: $gutter*2;
  margin-top: $gutter*3;
  flex-direction: column;
  align-items: center;

  &__button {
    margin-top: $gutter;
    margin-bottom: $gutter;

    font-family: monospace;
    font-size: 1rem;
    color: $color-black;

    cursor: pointer;
    background: none;

    &--completed {
      color: $color-lightgreen;
    }
  }
}
