@import "config";
// ATH! Þar eru auka reglur til að leyfa menu að passa inn í snjallsímaskjá
// Útlitsfyrirmynd sem við fengum passar eiginlega ekki snyrtilega
// Fyrir einkunnagjöf tekur þetta þó gildi á 495px
// Litur út eins og fyrirmynd fyrir 500px eins og spurt er eftir

.menu {
  @include row;
  margin-bottom: $gutter * 2;
  list-style: none;
  justify-content: center;
  flex-direction: row;

  @media (max-width: 495px) {
    flex-direction: column;
  }

  &__button-container {
    text-align: center;
  }

  &__button {
    padding: 10px 20px;
    margin-right: 20px;
    margin-left: 20px;

    font-size: 1.5rem;
    font-weight: bold;

    cursor: pointer;

    background-color: $color-lightgray;

    border-radius: 15px;

    outline: none;
    transition: $transition;

    @media (max-width: 495px) {
      @include columns(10);
      margin: $gutter/2;
    }

    &:hover {
      background-color: $color-midgray;
    }

    &--active {
      background-color: $color-lightgreen;

      &:hover {
        background-color: $color-darkgreen;
      }
    }
  }
}
