@import "config";
@import "header";
@import "menu";
@import "lecture";
@import "index";
// Grunnstillingar

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: 0;
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar

  font-family: $font-title;
  font-size: 16px;
}

main { /* stylelint-disable-line */
  max-width: $max-width;
  margin: auto;
}

img { /* stylelint-disable-line */
  max-width: 100%;
}
